*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.x-men{

    width: 350px;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    margin: 0 auto;
   
}
.x-sen{

    width: 690px;
    height: 375px;
   display: inline-block;
   margin: 0 auto;
}